@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: rgb(34, 40, 49);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  width: 70px;
  height: auto;

}

li,
a {
  font-family: "Reem Kufi", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #EEEEEE;
  text-decoration: none;
}

.nav__link {
  list-style: none;
}

.nav__link li {
  display: inline-block;
  padding: 0px 30px;
}

.nav__link li a {
  transition: all 0.3s ease 0s;
}

.nav__link li a:hover {
  color: #009199;
}

.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}

.card {
  --bg-color: #111;
  background-color: transparent
}

.loader {
  color: white;
  font-family: "Reem Kufi", sans-serif;
  font-weight: 500;
  font-size: 30px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
  text-align: right;
  direction: rtl;
  gap: 10px;
  justify-items: center;
  position: absolute;
  left: 40%;
  top: 40%;
}

.words {
  overflow: hidden;
  position: relative;
}

.words::after {
  content: "";
  position: absolute;
  inset: 0;
  background: transparent(var(--bg-color) 10%, transparent 30%, transparent 70%, var(--bg-color) 90%);
  z-index: 20;
}

.word {
  display: block;
  height: 100%;
  color: #009199;
  animation: spin_4991 4s infinite;
}

@keyframes spin_4991 {
  10% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}

@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}

@keyframes typeAndDelete {

  0%,
  10% {
    width: 0;
  }

  45%,
  55% {
    width: 10em;
  }

  /* adjust width based on content */
  90%,
  100% {
    width: 0;
  }
}

.terminal-loader {
  border: 0.1em solid #333;
  background-color: #1a1a1a;
  color: #0f0;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  padding: 1.5em 1em;
  width: 12em;
  margin: 100px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  top: 5em;
  left: 50px;
}

.terminal-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1.5em;
  background-color: #333;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0 0.4em;
  box-sizing: border-box;
}

.terminal-controls {
  float: right;
}

.control {
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  margin-left: 0.4em;
  border-radius: 50%;
  background-color: #777;
}

.control.close {
  background-color: #e33;
}

.control.minimize {
  background-color: #ee0;
}

.control.maximize {
  background-color: #0b0;
}

.terminal-title {
  float: left;
  line-height: 1.5em;
  color: #eee;
}

.text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.2em solid green;
  /* Cursor */
  animation: typeAndDelete 4s steps(11) infinite,
    blinkCursor 0.5s step-end infinite alternate;
  margin-top: 1.5em;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}

.title {
  color: white;
  font-family: "Reem Kufi", sans-serif;
  font-weight: 500;
  font-size: 30px;
  padding: 50px 0px;
  text-align: center;
  position: absolute;
  right: 41%;
  bottom: -35%;
}

.title:hover {
  color: #009199;
  cursor: pointer;
}

